//fonts import
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

//global styles
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F5F9FC;
    font-family: Montserrat, sans-serif;
    color: #030202;
}